FRONTEND_PORT=5173

BACKEND_PORT=8000
SECRET_KEY=django-insecure-change-me
DEBUG=True

DATABASE_NAME=skeleton_db
DATABASE_USER=skeleton_user
DATABASE_PASSWORD=skeleton_password
DATABASE_HOST=db
DATABASE_PORT=5432